@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "variables";

#gmail_lists_content {
  min-width: 150px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    li {
      padding-left: 5px;
      line-height: 30px;
      font-size: 15px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'Roboto', sans-serif;
      a {
        float: right;
        padding-right: 5px;
        text-decoration: none;
        color: #FF4081;
        white-space: nowrap;
        vertical-align: bottom;
        &:hover {
          color: darken(#FF4081, 25);
        }
      }
      &:hover {
        background-color: $grey;
      }
    }
    .gmail-lists-list--divider {
      color: $grey;
      margin: 0 !important;
    }
  }
}
