@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "variables";

#gmail_lists_content {
  min-width: 150px;
  ul {
    list-style: none;
    padding: 0;
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    li {
      cursor: pointer;
      padding: 0 5px;
      line-height: 30px;
      font-size: 15px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      a {
        text-decoration: none;
        cursor: pointer;
        color: $very-dark-grey;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: bottom;
        width: 150px;
      }
      &:nth-child(even) {
        background-color: $grey;
      }
      &:hover {
        background-color: $dark-grey;
      }
    }
  }
}
