@import "variables";
@import "animations";

body {
  font-size: 15px;
  min-width: 200px;
  max-width: 201px;
  font-weight: 400;
  min-height: 300px;
}

.input-container {
  display: block;
  overflow: hidden;
}

input[type="text"] {
  width: 100%;
  height: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.app-list {
  animation: 0.3s ease-out 0s 1 slideInFromLeft;
  ul {
    list-style: none;
    padding: 0;
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
    span, a {
      cursor: pointer;
    }
    li {
      transition: background-color .5s ease;
      padding: 0 5px;
      line-height: 30px;
      &:nth-child(even) {
        background-color: $gmail-grey;
      }
      &:hover {
        background-color: darken($gmail-grey, 20%);
      }
      .delete-button {
        transition: text-shadow .3s linear;
        color: red;
        float: right;
        &:hover {
          text-shadow: 1px 1px 2px black;
        }
      }

    }
  }
}

.back-button {
  float: left;
}

.donate-section {
  margin: 10px 0;
  position: absolute;
  bottom: 0;
  a {
    color: blue;
    text-align: center;
  }
}
